<%= link_to('Logout', destroy_user_session_path, method: :delete) %><br>
<h1>worlds list</h1>
<%= link_to "homepage" , root_path%>
<%= link_to "create world", new_world_path(@worlds) %>
<div>
<% @worlds.each do |world| %>
    <li>
        <br><%= link_to "#{world.name}", world_path(world) %></td><br>
    </li>
</div>
<% end %>